$mask-background-color: black;
$mask-border-size: 6px;
$mask-border-no-match-color: red;
$mask-border-match-color: greenyellow;

:host {
    position: fixed;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $mask-background-color;

    .mask-container {
        display: block;
        position: absolute;
        width: 100vmin;
        height: 100vmin;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .mask {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: relative;
            width: 50%;
            z-index: 2400;
            border: $mask-border-size solid $mask-border-no-match-color;
            border-radius: 50%;
            box-shadow: 0 0 0 99999px $mask-background-color;
            -webkit-transition: width 0.5s 0s ease;
            -moz-transition: width 0.5s 0s ease;
            -o-transition: width 0.5s 0s ease;
            transition: width 0.5s 0s ease;

            &:after {
                content: "";
                display: block;
                padding-bottom: 136%;
            }

            &.mask-zoom {
                width: 70%;
            }

            &.mask-match {
                border: $mask-border-size solid $mask-border-match-color;
            }
        }
    }
}
