$mask-start-zoom: 1.1;
$mask-end-zoom: 1.6;
$mask-zoom-delay: 0.5s;
$mask-border-size: 10;
$mask-border-color: red;
$mask-match-border-color: #45ff54;
$mask-background-color: black;

:host {
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $mask-background-color;

    .animation {
        position: absolute;
        left: 30%;
        top: 30%;
        right: 30%;
        bottom: 30%;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale($mask-start-zoom);
        z-index: 8000;
        -webkit-transition: transform $mask-zoom-delay 0s linear;
        -moz-transition: transform $mask-zoom-delay 0s linear;
        -o-transition: transform $mask-zoom-delay 0s linear;
        transition: transform $mask-zoom-delay 0s linear;

        .mask-background {
            fill: $mask-background-color;
        }

        .mask-siluette {
            stroke: $mask-border-color;
            stroke-width: $mask-border-size;
            fill: none;
        }

        &.mask-zoom {
            transform: scale($mask-end-zoom);
        }

        &.mask-match {
            .mask-siluette {
                stroke: $mask-match-border-color;
            }
        }
    }

    .face-indicator {
        position: absolute;
        border: 3px solid lightgray;
        border-radius: 50%;
        z-index: 10000;
        -webkit-transition: all 0.5s 0s ease-out;
        -moz-transition: all 0.5s 0s ease-out;
        -o-transition: all 0.5s 0s ease-out;
        transition: all 0.5s 0s ease-out;
    }

    .caption-container {
        display: table;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 10000;
        top: 20px;

        .caption {
            font-family: 'system-ui', sans-serif;
            font-weight: bolder;
            color: white;
            background-color: rgba(12, 28, 65, 0.8);
            text-shadow: 1px 1px #000000;
            font-size: 23px;
            border: 1px solid white;
            border-radius: 8px;
            max-width: 80%;
            margin: 0 auto;
            padding: 8px;

            &.caption-danger {
                background-color: rgba(180, 0, 0, 0.8);
            }
        }
    }

    .timer {
        position: absolute;
        z-index: 9600;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 36px;
        text-shadow: 1px 1px black;
        color: white;
        font-weight: bold;
    }

    .preview-picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
